/*DOCTYPE css*/
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a{
    float: right;
    text-align: left;
}

#nav-bar p {
    color: #49c5b6 !important;
    font-size: 40px;
    font-family: "Zen Dots";
    padding-top: 10px;
}

#nav-bar ul li a
{
    color: #49c5b6 !important;
}

.navbar
{
    background: #000;
}

.navbar toggler
{
    border:none!important;
}

.nav-link
{
    color: white!important;
    font-weight: 600;
    font-size: 18px;
}

/*---About Me---*/
#about
{
    position: center;
    background: #000;
}

#about h1
{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #49c5b6 !important;
}

#about h1::after 
{
    content:'';
    background: #000;
}

.about-brand img
{
    height: 250px;
    width: 250px; 
    border-radius: 60%;
    transition: transform .2s;
}

.about-brand img:hover {
 -ms-transform: scale(1.5); 
  -webkit-transform: scale(1.5);
  transform: scale(1.5);    
}

.about-content 
{
    text-align: justify, center;
    line-height: 2.0;
    padding-bottom: 10px;
    font-size: 20px;
    color: #49c5b6 !important;
}

/*---Interests---*/
#interests
{
    background: #000;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}

#interests h1
{
    text-align: center;
    padding-bottom: 10px;
    color: #49c5b6 !important;
}

#interests h1::after 
{
    content:'';
    background: #000;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.column {
  float: left;
  width: 33.33%;
  padding: 50px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: white;
}

.containerTab {
  padding: 20px;
  color: white;
}

.center1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 900px;
}

.center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 900px;
}

.center3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 500px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.closebtn {
  float: right;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

/*---Info---*/
#info
{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555; 
    background: #000;
    
}
#info h1
{
    text-align: center;
    color: #49c5b6 !important;
    padding-bottom: 10px;
}
#info h1::after
{
    content: '';
    background: #000;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

.img-responsive
{
    height: 250px;
    width: 200px;
}
.profile-pic
{
    margin-top: 25px;
}
.profile-pic .img-box
{
    opacity: 1;
    display: block;
    position:relative;
    background: white !important;
}

.profile-pic h2
{
    font-size: 22px;
    font-weight: bold;
    color: #49c5b6 !important;
    padding-top: 10px;
}

.profile-pic h3
{
    font-size: 15px;
    font-weight: bold;
    
}

#info .fa
{
    height: 25px;
    width: 25px;
    color: #007bff !important;
    background: #fff;
    padding: 4px;
    border-radius: 50%;
}

/*---Contact---*/
#contact
{
    background: #000;
    padding-top: 40px;
    padding-bottom: 40px;
}

#contact h1
{
    text-align: center;
    color: #49c5b6 !important;
    padding-bottom: 10px;
}

::placeholder
{
    color: #999 !important;
}

.follow
{
    background: #C5C6C7;
    padding: 10px;
    margin: 15px;
    color: #1F2833 !important;
}

.contact-info .fa
{
    margin: 10px;
    color: #007bff;
    font-weight: bold;
}

.logo img {
    padding-top: 35px;
    padding-left: 80px;
    height: 270px;
    width: 350px;
    
}

/*---Footer---*/
#footer
{
    background: #000;
    color: #C5C6C7 !important;;
    padding: 12px;
}

html {
  scroll-behavior: smooth;
}